# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Modificación técnica v1783175162038-0
# Modificación técnica v1783175162270-1
# Modificación técnica v1783175162424-2
# Modificación técnica v1783175162602-3
# Modificación técnica v1783175162769-4
# Modificación técnica v1783175162918-5
# Modificación técnica v1783175163072-6
# Modificación técnica v1783175163220-7
# Modificación técnica v1783175163372-8
# Modificación técnica v1783175163525-9
# Modificación técnica v1783175163695-10
# Modificación técnica v1783175163858-11
# Modificación técnica v1783175164019-12
# Modificación técnica v1783175164176-13
# Modificación técnica v1783175164329-14
# Modificación técnica v1783175164485-15